@charset "utf-8";

/*	version: "v4.1.6"	*/
/* CSS Document */

body {
	margin: 0;
	padding: 0;
}

#unit-container {
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

#main-panel {
	overflow: hidden;
}


img {
	width: 100%;
	height: 100%;
}

.full {
	
}

.free {
	position: absolute;
}

.centered {
	text-align: center;
}

