@charset "utf-8";
/* CSS Document */

#main-panel {
	position: absolute;
}

/*   Collapsed Panel   */
#collapsed-panel {
	
}

/*   Expanded Panel   */
#expanded-panel{
	
}

.alphaed {
	opacity: 0;
	display: inline-block;
}

.cta {
	cursor: pointer;
	z-index: 100;
	position: absolute;
}

.col-full {
	
}

.hidden {
	opacity: 0;
}

.centered {
	text-align: center;
}

.free {
	position: absolute;
}

.exp-full {
	
}

.hidden {
	opacity: 0;
}

.centered {
	text-align: center;
}

.bg {
	position: relative;
	background-color: #000;
}

.exit {
	z-index: 75;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	opacity: 0;
}

#bg-exp-exit {
	
}